@mixin imgrpl($width: 0, $height:0) {
    display: block;
    text-indent: -9999px;
    font-size: 0.1pt;
    width: $width;
    height: $height;
}

@mixin absolute($top: 0, $left:0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin arredondado($size:5px) {
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin vertical($height:20px) {
    height: $height;
    line-height: $height;
    vertical-align: middle;
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category !="" {
                family: "#{$style-name}",
                #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}